[group]
screen_width = 1920
screen_height = 1080
imgsz = 320
conf_thres = 0.3
iou_thres = 0.25
grab_window_title = FolderView
grab_width =320
grab_height =320
re_x = 416
re_y = 416
lock_mode = True
show_win = False
pid_x_p = 0.36
pid_x_i = 0.032
pid_x_d = 0.01
pid_y_p = 0.2
pid_y_i = 0
pid_y_d = 0
offset = 0.2
aim_mod = 0
weights = 320nG4.onnx
half = False
