<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Salary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>change</display-name>
    <servlet-name>change</servlet-name>
    <servlet-class>Bean.change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>org.student.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentsalary</display-name>
    <servlet-name>DeleteStudentsalary</servlet-name>
    <servlet-class>org.student.servlet.DeleteStudentsalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentsalary</servlet-name>
    <url-pattern>/DeleteStudentsalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentrecord</display-name>
    <servlet-name>DeleteStudentrecord</servlet-name>
    <servlet-class>org.student.servlet.DeleteStudentrecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentrecord</servlet-name>
    <url-pattern>/DeleteStudentrecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentmessage</display-name>
    <servlet-name>DeleteStudentmessage</servlet-name>
    <servlet-class>org.student.servlet.DeleteStudentmessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentmessage</servlet-name>
    <url-pattern>/DeleteStudentmessage</url-pattern>
  </servlet-mapping>
</web-app>